<header>
    <div class="logo">
      <h1>Cancha Cancheros</h1>
    </div>
    <nav>
      <ul>
        <li><a href="#">¿Quiénes Somos?</a>

        </li>
        <li><a href="#">Nuestros Establecimientos</a>
        </li>
        <li><a href="#">Reservar Cancha</a>
        </li>
        <li><a href="#">Contáctenos</a></li>
      </ul>
    </nav>

    <div class="user-box">
        <img src="ruta/a/la/imagen/de/perfil.jpg" alt="Imagen de perfil">
        <span>Pepe</span>
      </div>

  </header>
  